<mat-card>
  <mat-card-title id="title">Summer LOD</mat-card-title>
  <mat-card-content>
    <div id="container">
      <!-- xml -->
      <div id="xml" class="boxed">
        <nge-monaco-editor
          style="--editor-height: 100%"
          (ready)="onXmlEditorInit($event)"
        />
      </div>

      <!-- xslt -->
      <div id="xslt" class="boxed">
        <nge-monaco-editor
          style="--editor-height: 100%"
          (ready)="onXsltEditorInit($event)"
        />
      </div>

      <!-- result -->
      <div id="result">
        <!-- progress -->
        <div>
          @if (busy) {
          <mat-progress-bar
            mode="indeterminate"
            color="primary"
            class="mat-primary"
          />
          }
        </div>
        <!-- toolbar -->
        <div class="toolbar-row">
          <span class="toolbar-divider">XML</span>
          <!-- load XML-->
          <button
            type="button"
            mat-icon-button
            (click)="loadXml()"
            [disabled]="busy"
            matTooltip="Load XML from file"
          >
            <mat-icon>upload_file</mat-icon>
          </button>
          <!-- save XML -->
          <button
            type="button"
            mat-icon-button
            (click)="saveXml()"
            [disabled]="busy || xml.invalid"
            matTooltip="Save XML to file"
          >
            <mat-icon>save</mat-icon>
          </button>
          <!-- prettify XML -->
          <button
            type="button"
            mat-icon-button
            (click)="prettifyXml()"
            [disabled]="busy || xml.invalid"
            matTooltip="Prettify XML"
          >
            <mat-icon>format_align_right</mat-icon>
          </button>
          <span class="toolbar-divider">XSLT</span>
          <!-- load XSLT -->
          <button
            type="button"
            mat-icon-button
            (click)="loadXslt()"
            [disabled]="busy"
            matTooltip="Load XSLT from file"
          >
            <mat-icon>upload_file</mat-icon>
          </button>
          <!-- save XSLT -->
          <button
            type="button"
            mat-icon-button
            (click)="saveXslt()"
            [disabled]="busy || xslt.invalid"
            matTooltip="Save XSLT to file"
          >
            <mat-icon>save</mat-icon>
          </button>
          <!-- prettify XSLT -->
          <button
            type="button"
            mat-icon-button
            (click)="prettifyXslt()"
            [disabled]="busy || xslt.invalid"
            matTooltip="Prettify XSLT"
          >
            <mat-icon>format_align_right</mat-icon>
          </button>

          <!-- reset -->
          <button
            type="button"
            mat-icon-button
            color="warn"
            (click)="resetCode()"
            [disabled]="busy"
            matTooltip="Reset the code"
          >
            <mat-icon class="mat-warn">restart_alt</mat-icon>
          </button>
          <!-- transform -->
          <button
            type="button"
            mat-icon-button
            color="primary"
            (click)="transform()"
            [disabled]="busy || xml.invalid || xslt.invalid"
            matTooltip="Transform XML with XSLT"
          >
            <mat-icon class="mat-primary">play_circle</mat-icon>
          </button>
          <!-- parse -->
          <button
            type="button"
            mat-icon-button
            (click)="parseEntities()"
            [disabled]="busy || xml.invalid"
            matTooltip="Parse XML entities"
          >
            <mat-icon class="mat-accent">people</mat-icon>
          </button>

          <!-- error -->
          <span class="error">
            @if (error) {
            <mat-icon color="warn" class="mat-warn">error</mat-icon>
            } @if (error) {
            <span>{{ error }}</span>
            }
          </span>
        </div>
        <div>
          <!-- html -->
          @if (rendition) {
          <div id="rendition" class="boxed">
            <mat-expansion-panel [expanded]="rendition" [disabled]="!rendition">
              <mat-expansion-panel-header>
                <mat-panel-title>HTML</mat-panel-title>
              </mat-expansion-panel-header>
              <div [innerHTML]="rendition | safeHtml"></div>
            </mat-expansion-panel>
          </div>
          }
          <!-- entities -->
          <div class="boxed">
            <app-entity-list
              [entities]="entities"
              (entityPick)="pickEntity($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
