<mat-card>
  <mat-card-title id="title">Summer LOD</mat-card-title>
  <mat-card-content>
    <div id="container">
      <!-- xml -->
      <div id="xml">
        <nge-monaco-editor
          style="--editor-height: 100%"
          (ready)="onXmlEditorInit($event)"
        />
      </div>

      <!-- xslt -->
      <div id="xslt">
        <nge-monaco-editor
          style="--editor-height: 100%"
          (ready)="onXsltEditorInit($event)"
        />
      </div>

      <!-- result -->
      <div id="result">
        <!-- progress -->
        <div>
          <mat-progress-bar *ngIf="busy" mode="indeterminate" color="primary" />
        </div>
        <!-- toolbar -->
        <div class="toolbar-row">
          <span class="toolbar-divider">XML</span>
          <!-- load XML-->
          <button
            type="button"
            mat-icon-button
            (click)="loadXml()"
            [disabled]="busy"
            matTooltip="Load XML from file"
          >
            <mat-icon>upload_file</mat-icon>
          </button>
          <!-- save XML -->
          <button
            type="button"
            mat-icon-button
            (click)="saveXml()"
            [disabled]="busy || xml.invalid"
            matTooltip="Save XML to file"
          >
            <mat-icon>save</mat-icon>
          </button>
          <!-- prettify XML -->
          <button
            type="button"
            mat-icon-button
            (click)="prettifyXml()"
            [disabled]="busy || xml.invalid"
            matTooltip="Prettify XML"
          >
            <mat-icon>format_align_right</mat-icon>
          </button>
          <span class="toolbar-divider">XSLT</span>
          <!-- load XSLT -->
          <button
            type="button"
            mat-icon-button
            (click)="loadXslt()"
            [disabled]="busy"
            matTooltip="Load XSLT from file"
          >
            <mat-icon>upload_file</mat-icon>
          </button>
          <!-- save XSLT -->
          <button
            type="button"
            mat-icon-button
            (click)="saveXslt()"
            [disabled]="busy || xslt.invalid"
            matTooltip="Save XSLT to file"
          >
            <mat-icon>save</mat-icon>
          </button>
          <!-- prettify XSLT -->
          <button
            type="button"
            mat-icon-button
            (click)="prettifyXslt()"
            [disabled]="busy || xslt.invalid"
            matTooltip="Prettify XSLT"
          >
            <mat-icon>format_align_right</mat-icon>
          </button>

          <!-- reset -->
          <button
            type="button"
            mat-icon-button
            color="warn"
            (click)="resetCode()"
            [disabled]="busy"
            matTooltip="Reset the code"
          >
            <mat-icon>restart_alt</mat-icon>
          </button>
          <!-- transform -->
          <button
            type="button"
            mat-icon-button
            color="primary"
            (click)="transform()"
            [disabled]="busy || xml.invalid || xslt.invalid"
            matTooltip="Transform XML with XSLT"
          >
            <mat-icon>play_circle</mat-icon>
          </button>
          <!-- parse -->
          <button
            type="button"
            mat-icon-button
            (click)="parseEntities()"
            [disabled]="busy || xml.invalid"
            matTooltip="Parse XML entities"
          >
            <mat-icon>people</mat-icon>
          </button>

          <!-- error -->
          <span class="error">
            <mat-icon *ngIf="error" color="warn">error</mat-icon>
            <span *ngIf="error">{{ error }}</span>
          </span>
        </div>
        <div>
          <!-- html -->
          <div
            id="rendition"
            *ngIf="rendition"
            [innerHTML]="rendition | safeHtml"
          ></div>
          <!-- entities -->
          <div>
            <app-entity-list
              [entities]="entities"
              (entityPick)="pickEntity($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
