.toolbar-row {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

#title {
  background-color: #e1af17;
  text-align: center;
  color: white;
  margin-bottom: 8px;
}

#container {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "xml xslt"
    "result result";
  gap: 8px;
}

.boxed {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  margin: 8px 0;
}

#xml {
  grid-area: xml;
  min-height: 600px;
}

#xslt {
  grid-area: xslt;
  min-height: 600px;
}

#result {
  grid-area: result;
}

#rendition {
  border: 1px solid #ccc;
  padding: 8px;
}

.error {
  color: red;
  font-size: 0.9em;
}

/* lt-md */
@media only screen and (max-width: 959px) {
  div#container {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "xml"
      "xslt"
      "result";
  }
}
