@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($light-theme);
}
