<div>
  <div class="container">
    <!-- Language selector -->
    <div>
      <mat-form-field>
        <mat-select placeholder="Language" [formControl]="language">
          @for (l of languages; track l) {
          <mat-option [value]="l">{{ getLangName(l) }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    @if (busy()) {
    <div>Loading...</div>
    } @else if (info()) {
    <!-- depiction -->
    @if (info()?.depiction?.value) {
    <div class="floated">
      <img
        class="depiction"
        alt="{{ info()?.name?.value || 'person' }}"
        [src]="info()?.depiction?.value"
      />
    </div>
    }
    <!-- name -->
    @if (info()?.name?.value) {
    <h3>{{ info()!.name!.value }}</h3>
    }
    <!-- birth -->
    <ul>
      @if (info()?.birthDate?.value) {
      <li>
        birth:
        @if (info()?.birthPlace?.type === "uri") {
        <a target="_blank" [href]="info()?.birthPlace?.value">{{
          info()?.birthPlaceLabel?.value || info()?.birthPlace?.value
        }}</a>
        } @if (info()?.birthPlace?.type !== "uri") {
        <span>{{
          info()?.birthPlaceLabel?.value || info()?.birthPlace?.value
        }}</span>
        } @if (info()?.birthDate?.value) {
        <span>{{ info()?.birthDate?.value }}</span>
        }
      </li>
      }
      <!-- death -->
      @if (info()?.deathDate?.value) {
      <li>
        death:
        @if (info()?.deathPlace?.type === "uri") {
        <a target="_blank" [href]="info()?.deathPlace?.value">{{
          info()?.deathPlaceLabel?.value || info()?.deathPlace?.value
        }}</a>
        } @if (info()?.deathPlace?.type !== "uri") {
        <span>{{
          info()?.deathPlaceLabel?.value || info()?.deathPlace?.value
        }}</span>
        } @if (info()?.deathDate?.value) {
        <span>{{ info()?.deathDate?.value }}</span>
        } @if (info()?.birthDate && info()?.deathDate) {
        <span> (aged {{ getAge(info()?.birthDate, info()?.deathDate) }})</span>
        }
      </li>
      }
    </ul>
    <!-- abstract or description -->
    @if (info()?.abstract?.value) {
    <div class="text-cols">{{ info()!.abstract!.value }}</div>
    } @else if (info()?.description?.value) {
    <div class="text-cols">{{ info()!.description!.value }}</div>
    } }
  </div>
  <!-- wiki link -->
  @if (info()?.topic) {
  <div>
    <a [href]="info()?.topic?.value" target="_blank">Open Wikipedia</a>
  </div>
  }
</div>
